tools/.venv/
weights/stories260K/
__pycache__/
llm-stories
llm-cpu
llm-f2
llm-f2-sim
llm-stories-baremetal
llm-stories-gemmini-baremetal
llm-stories-cpu-baremetal
llm-demo
llm-demo-baremetal
llm-demo-firesim
llm-encode
llm-chat
llm-chat-firesim
llm-bench
llm-profile
llm-profile-*-baremetal
build-riscv/
